.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.login-submit__button {
  width: 100%;
  max-width: 400px;
  font-size: 1rem;

  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
}
