.deals-container {
  display: flex;
  border-width: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20%;
  position: absolute;
}

.four-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  max-width: 360px;
  justify-content: center;
  align-self: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.product-card {
  flex: 0;
  margin: 5px;
  text-align: center;
}

.four-card__image {
  height: 170px;
  width: 170px;
  aspect-ratio: 1/1;
}

.four-card__offer {
  color: #fff;
  background-color: #d32f2f;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

.four-card__festival {
  color: #d32f2f;
  font-size: 0.9rem;
}

.four-card__name {
  font-size: 0.85rem;
  color: #333;
}

.four-card__Products {
  /* border: 1px solid red; */
}
